.idea

.DS_Store
node_modules

.luarc.json
lazy-lock.json

conf/nushell/vendor/autoload/starship.nu
conf/nushell/history.txt
conf/tmux/plugins
metacraft
.aider*

geekCaps/geekCaps
claude/.credentials.json
claude/ide
claude/file-history

core/target
